.about {
  z-index: 4;
  position: absolute;
  width: 184px;
  height: 48px;
  left: 638px;
  top: 1075px;
  font-family: Cinzel;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #F7F7F9;
}