@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=DotGothic16&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.background aside section {
  height: 150px;
  width: 100vw;
}

.background {
  position: absolute;
  z-index: 1;
}

.rectangle1 {
  background-color: #E86A92;
}

.rectangle2 {
  background-color: #95566A;
}

.rectangle3 {
  background-color: #5B2839;
}

.rectangle4 {
  background-color: #43202B;
}

.rectangle5 {
  background-color: #32111C;
  height: 81px;
}

.rectangle6 {
  background-color: #5B2839;
  height: 2110px;
}

.vector {
  position: absolute;
  z-index: 2;
}

nav {
  position: fixed;
  z-index: 3;
  margin-top: 10px;
  margin-left: 20px;
  height: 8vh;
  border-radius: 40px;
  color: #F7F7F9;
  background-color: #E86A92;
  position: absolute;
  width: 5vw;
  transition: width 2s ease-out;
  font-family: "Cinzel", serif;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav p {
  padding: 20px;
}

nav:hover {
  width: 90vw;
}

.menuIcon {
  margin: 25px;
  font-size: 50px;
}

.landingPg-container {
  position: absolute;
  z-index: 3;
}
.landingPg-container h1 {
  position: absolute;
  width: 408px;
  height: 129px;
  left: 584px;
  top: 372px;
  font-family: Cinzel;
  font-weight: bold;
  font-size: 96px;
  line-height: 129px;
  background-image: url("background.jpg");
  background-size: 100% 100%;
  color: transparent;
  -webkit-background-clip: text;
}
.landingPg-container h2 {
  position: absolute;
  width: 283px;
  height: 114px;
  left: 982px;
  top: 455px;
  font-family: Cinzel;
  font-style: normal;
  font-weight: bold;
  font-size: 85px;
  line-height: 114px;
  color: #F7F7F9;
}
.landingPg-container p {
  position: absolute;
  width: 369px;
  height: 55px;
  top: 473px;
  left: 594px;
  font-family: "Clicker Script", cursive;
  font-size: 42px;
  line-height: 55px;
  color: #5B2839;
}
.landingPg-container img {
  position: absolute;
  width: 34.93px;
  height: 33.02px;
  top: 479px;
  left: 987px;
}
.landingPg-container section {
  position: absolute;
  width: 452px;
  height: 88px;
  left: 892px;
  top: 844px;
  background: #E86A92;
  opacity: 0.75;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  animation-name: viewPortfolio;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
}
.landingPg-container section p {
  position: absolute;
  width: 400px;
  height: 62px;
  top: 15px;
  left: 32px;
  color: #F7F7F9;
  font-family: Cinzel;
  font-size: 46px;
  line-height: 62px;
}
@keyframes viewPortfolio {
  0% {
    background-color: #E86A92;
  }
  25% {
    background-color: #5B2839;
  }
  50% {
    background-color: #E86A92;
  }
  75% {
    background-color: #5B2839;
  }
  100% {
    background-color: #E86A92;
  }
}

.typing {
  border-right: solid 3px rgba(0, 255, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
  animation: animated-text 4s steps(29, end) 1 normal both, animated-cursor 600ms steps(29, end) infinite;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 369px;
  }
}
/* cursor animations */
@keyframes animated-cursor {
  from {
    border-right-color: #E86A92;
  }
  to {
    border-right-color: transparent;
  }
}